body {
  background: #1a1a1a;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
}

.screen {
  background: lightgrey;
  display: grid;
  width: 50vw;
  font-size: 2vw;
  margin: 5% 0 20% 0;
  padding: 1%;
  justify-content: center;
  border-radius: 20% 20% 0 0;
}

#front-section {
  width: 50vw;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr);

  /*   margin: 1rem 0 0 0; */
}

#front-handi {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-row: 2 / 9;
}

#back-section {
  width: 50vw;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(9, 1fr);
  margin: 1rem 0 0 0;
}

#back-handi {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-row: 2 /;
}

#pair-grid {
  height: 3vw;
  width: 5vw;
  background: #1a1a1a;
  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  gap: 10%;
  justify-content: center;
  align-content: center;
  margin-bottom: 15%;
}

.table {
  border-radius: 15%;
  background: grey;
  width: 4.5vw;
  margin: 3% 1%;
}

.seats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.seat {
  background: white;
  border-radius: 50%;
  width: 1.75vw;
  hieght: 1vw;
}
.seat:hover {
  background: gold;
}
